body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #0195f7;
}

.show-box {
  border-radius: 10px !important;
  background: rgba(0, 0, 0, 0.02);
  padding: 20px 15px;
}

.show-box-outlined {
  border-radius: 10px !important;
  padding: 10px;
  border: 1.7px solid rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
}

.MuiListItemButton-root.Mui-selected {
  background-color: #0195f7 !important;
}

button:not(.MuiIconButton-root):not(.MuiCardActionArea-root):not(
    .MuiButton-containedSizeLarge
  ) {
  padding: 5px 20px !important;
}
a:not(.MuiIconButton-root):not(.MuiCardActionArea-root):not(
    .MuiButton-containedSizeLarge
  ) {
  padding: 5px 20px !important;
}

a:not(.MuiTab-root):not(.MuiCardActionArea-root) {
  border-radius: 50px !important;
}
button:not(.MuiTab-root):not(.MuiCardActionArea-root) {
  border-radius: 50px !important;
}
